<div class="download-bg">
  <div class="download-card">
    <div class="icon-circle">
      <svg width="48" height="48" fill="none" viewBox="0 0 24 24">
        <path
          fill="#00eaff"
          d="M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm1 15h-2v-2h2v2Zm0-4h-2V7h2v6Z"
        />
      </svg>
    </div>
    <h2>Data Transfer Center</h2>
    <p class="subtitle">You are authenticated. Click below to transfer your files.</p>
    <button class="tech-btn" (click)="download()">Transfer</button>
  </div>
</div>
